.is-hidden{
	display: none;
}
body,html{
	margin: 0;
	padding: 0;
}
.modal-content{
	background-color: #ddd;
	padding: 20px;
	border-radius: 4px
}
.button{
	margin: 6px;
}
.nav{
	padding: 0 8px 0 8px;
	background-color: #00C853;
}
.nav > a{
	margin-top: 10px;
}
.nav > h3{
color: #fff;
margin-top: 4px;
}
.card-bg{
	background: #ddd;
}
.notes{
	margin-top: 3%;
}
.note{
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
}
hr{
	background-color: #222;
	width: 30%;
	height: 2px;
}
.fa + .fa{
	margin-right: 3px;
}
.modal{
	opacity: 0;
	transition: 1s;
}
 .is-active{
	opacity:1;
}
.mtop1{
	margin-top: 3%;
}